<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.android.com.kline">


<application>

    <!-- 注册 -->
    <activity
        android:name=".activitys.KLineActivity"
        android:launchMode="singleInstance"
        android:screenOrientation="portrait" />



</application>

</manifest>